<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Texturina:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Digi-Weather</title>

    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/e64edb2dad.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="weatherpage">
        <div class="image">
            <img class="bg_image" src="background_image.png" alt="backgroungImage">
        </div>
        <div class="WeatherpageContent">
            <!-- navbar -->
            <div class="container-fluid main_nav">
                <div class="row">
                    <div class="col-md-10 col-12 mx-auto">
                        <nav class="navbar navbar-expand-lg">
                            <div class="container-fluid">
                                <a class="navbar-brand" href="/">Digi-Weather<i class="fas fa-feather-alt"
                                        style="padding-left: 10px;"></i></a>
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a class="nav-link" aria-current="page" href="/">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" aria-current="page" href="/weather">Weather</a>
                                        </li>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- weatherInfo -->
            <div class="container-fluid main_weather">
                <div class="row">
                    <div class="col-md-10 col-12 mx-auto">
                        <div class="weatherBox">
                            <div class="search">
                                <form class="search_bar">
                                    <input type="text" id="cityName" placeholder="Enter the City Name..."
                                        autocomplete="off">
                                    <input type="button" value="Check Weather" class="form_check_btn" id="checkWeather">
                                </form>
                            </div>
                            <div class="temp_info">
                                <div class="top">
                                    <p id="day"></p>
                                    <p id="date"></p>
                                </div>
                                <div class="bottom">
                                    <p class="id" id="temp_output_city_name">Output</p>
                                    <div class="bottom_data_temp hide_data">
                                        <p id="temp"></p><span><sup>o</sup>C</span>
                                        <p id="temp_status"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>

</html>